<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
	<script type="text/javascript" charset="utf-8" src="/static/jquery.js">
	</script>
	<script type="text/javascript" charset="utf-8" src="/static/bootstrap/js/bootstrap.js">
	</script>

	<script type="text/javascript" charset="utf-8">
		$('.dropdown-toggle').dropdown();
		$('.typeahead').typeahead()
	</script>
	<link rel="stylesheet" href="/static/regalame.css" type="text/css" charset="utf-8">
</head>
<body>

	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">Party Hard!</a>
				<ul class="nav pull-right">
					<li class="divider-vertical"></li>
					<li>
						{%if user%}
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown">
									<img id="profile-pic" src="{{picture}}"/> {{user.first_name}} {{user.last_name}}
								    <b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a href="/logout">Logout</a></li>
								</ul>
							</li>
						{%else%}
							<a href="login/facebook">logearse</a>
						{%endif%}
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container box">
		<form class="well form-search" name="buscar-form" action="/gift/search/" method="post">{% csrf_token %}
			<span class="form text"><strong>Busca a tus amigos:</strong></span> 
			<input type="text" autocomplete="off" data-provide="typeahead"
			data-source='[{% for f in allFriends %}"{{f}}",{% endfor %}""]'
			data-items="8"
			class="input-large search-query" name="buscar"/>
			<button type="submit" class="btn"> <i class="icon-search"></i></button>
		</form>

		{%for friend in friends%}
			<div class="well">
				<a href="/friends_likes/{{friend.id}}"><img src="{{friend.picture}}"/></a>
				<a href="/friends_likes/{{friend.id}}">{{friend.name}} {{friend.birthdayString}}</a>
			</div>
		{%endfor%}
	</div>

</body>
</html>
