<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
</head>
<body>

	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">Party Hard!</a>
				<ul class="nav pull-right">
					<li>
						<a href="login/facebook">Login</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container box">
		<h1>Bienvenidos a <strong>"Party Hard!"</strong></h1>
		<h3>
			<strong>Party Hard!</strong> es una aplicación de recomendación de regalos, para utilizar el máximo potencial de esta aplicación te recomendamos iniciar sesión con tu cuenta de Facebook.
		</h3>
	</div>

</body>
</html>

